<nav>
  {% assign front_page = nil %}
  {% for page in site.pages %}
    {% if page.url == "/" %}
      {% assign front_page = page %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if front_page %}
    {% if page.url == front_page.url %}
      <a>{{ front_page.title }}</a>
    {% else %}
      <a href="{{ front_page.url | relative_url }}">{{ front_page.title }}</a>
    {% endif %}
  {% else %}
    <a>Home</a>
  {% endif %}

  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
      >
      <strong>
        {% if page.title %}
          {{ page.title }}
        {% else %}
          {{ crumb }}
        {% endif %}
      </strong>
    {% else %}
      {% assign crumb_limit = forloop.index | plus: 1 %}

      {% if site.breadcrumbs_omit_dates %}
        {% assign year = page.date | date: "%Y" %}
        {% assign month = page.date | date: "%m" %}
        {% assign day = page.date | date: "%d" %}
        {% if crumb == year or crumb == month or crumb == day %}
          {% continue %}
        {% endif %}
      {% endif %}

      {% assign crumb_url = "/" | append: crumb | append: "/" %}

      {% assign crumb_page = nil %}
      {% for page in site.pages %}
        {% if page.url == crumb_url %}
          {% assign crumb_page = page %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% assign crumb_text = crumb | replace:'-',' ' | remove:'.html' %}
      {% if crumb_page %}
        {% if crumb_page.breadcrumb_text %}
          {% assign crumb_text = crumb_page.breadcrumb_text %}
        {% elsif crumb_page.title %}
          {% assign crumb_text = crumb_page.title %}
        {% endif %}
        > <a href="{{ crumb_page.url | relative_url }}">{{ crumb_text }}</a>
      {% else %}
        > <a>{{ crumb_text }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
</nav>
