{% capture footer_contents -%}
  {% if site.author and include.show_author %}
    — <a rel="author" href="{{ "/" | relative_url }}">{{ site.author }}</a>,
  {%- endif %}
  {%- if page.date %}
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: "%b %Y" }}</time>
  {% endif -%}
{% endcapture %}

{% assign footer_contents = footer_contents | strip %}
{%- if footer_contents != "" %}
  <footer class="page-footer meta"><p>{{ footer_contents }}</p></footer>
{%- endif -%}
