{% comment %}
A hoverable dropup menu containing actions for the current page.

Usage
=====

  {% include page_actions_menu.html %}
{% endcomment %}
{% capture menu_items %}
  {% if site.new_post_link != false %}{% include new_post_link.html %}{% endif %}
  {% if site.view_source_link != false %}{% include view_source_link.html %}{% endif %}
  {% if site.edit_page_link != false %}{% include edit_page_link.html %}{% endif %}
{% endcapture %}

{% assign menu_items = menu_items | strip %}
{% if menu_items != "" %}
  <div class="page-actions-menu" style="position: fixed; bottom: 0; right: 0;">
    {% include dropup.html menu_items=menu_items %}
  </div>
{% endif %}
