<ul class="no-bullets">
  {% for post in site.posts %}
    {% if post.nolist %}
      {% unless include.all %}{% continue %}{% endunless %}
    {% endif %}
    {% if include.drafts %}
      {% unless post.draft %}{% continue %}{% endunless %}
    {% else %}
      {% if post.draft %}{% continue %}{% endif %}
    {% endif %}

    {% if include.category %}
      {% unless post.categories contains include.category %}{% continue %}{% endunless %}
    {% endif %}

    {% if include.tag %}
      {% unless post.tags contains include.tag %}{% continue %}{% endunless %}
    {% endif %}

    {% include post_item.html post=post %}
  {% endfor %}
</ul>

