.lines {
  background-size: 100% 28px;
  background-image: linear-gradient(to bottom,rgba(0,170,255,.3) 1px,transparent 1px,transparent 16px,rgba(0,170,255,.2) 16px,transparent 17px,transparent 32px);
  background-position: left top;
  background-repeat: repeat;
}

.lines .admonition,
.lines .attention,
.lines .caution,
.lines .danger,
.lines .error,
.lines .important,
.lines .warning,
.lines .hint,
.lines .tip,
.lines .note,
.lines .seealso,
.lines .todo {
  background-color: inherit;
}

.lines pre {
  overflow-x: hidden;
}

.lines pre,
.lines pre code,
.lines .highlight {
  background-color: inherit;
}
