body {
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  font-size: var(--body-font-size);
  text-size-adjust: none;
  font-family: var(--body-font-family);
  background-color: var(--body-background-color);
  color: var(--body-color);
  line-height: var(--body-line-height);
}

img,
blockquote,
p,
ul,
ol,
figure,
.inner-container pre,
.inner-container iframe,
dd,
details,
.scroll,
.admonition,
.attention,
.caution,
.danger,
.error,
.important,
.warning,
.hint,
.tip,
.note,
.seealso,
.todo {
  margin-bottom: 26px;
}

p,
li {
  hyphens: auto;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: var(--bold-font-weight);
  color: var(--bold-color);
}

hr {
  background: transparent;
  border: 0;
  border-top: 1px solid var(--muted-color);
  margin-bottom: 26px;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: smaller;
  padding-left: .1em;
  font-weight: bold;
}

sub {
  top: 0.4em;
}

var {
  font-style: italic;
}

summary {
  cursor: pointer;
}

.sig,
.sig a {
  color: var(--muted-color) !important;
  text-decoration: none;
}

.muted {
  color: var(--muted-color);
}

.meta {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

.meta,
.meta b,
.meta strong {
  color: var(--muted-color);
}

.meta a {
  border-bottom: 1px solid #ccc;
  color: inherit;
}

/* Prevent really long words (URLs, <code> spans, ...) from overflowing the
 * container and introducing a page-level horizontal scrollbar on mobile.
 * See https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
 */
code,
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
