@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --body-background-color: white;
  --body-color: 222;
  --bold-color: black;
  --muted-color: #888;

  /* Match the background-color of the GitHub syntax highlighting theme. */
  --code-background-color: rgba(175, 184, 193, 0.2);
  --code-color: inherit;

  --pre-code-background-color: #f8f8f8;
  --pre-code-color: inherit;

  --body-font-family: 'Open Sans', sans-serif;
  --body-font-size: 18px;
  --body-line-height: 28px;

  --normal-font-weight: 400;
  --bold-font-weight: 700;

  --code-font-family: 'Roboto Mono', monospace;

  --small-font-size: 13px;
}
