@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
  --body-background-color: white;
  --body-color: #24292e;
  --bold-color: black;
  --muted-color: #6a737d;

  /* Match the background-color of the GitHub syntax highlighting theme. */
  --code-background-color: #f8f8f8;
  --code-color: inherit;

  --pre-code-background-color: #f8f8f8;
  --pre-code-color: inherit;

  --navbar-font-weight: 600;
  --navbar-font-size: 14px;

  --body-font-family: 'Open Sans', sans-serif;
  --body-font-size: 18px;
  --body-line-height: 28px;

  --normal-font-weight: 400;
  --bold-font-weight: 600;

  --code-font-family: 'Roboto Mono', monospace;

  --small-font-size: 70%;
  --small-line-height: 0.861111111111111rem;
}
