/**

This CSS mostly uses the BEM (Block Element Modifier) naming pattern
(http://getbem.com/) for modularity:

* CSS selectors mostly match using CSS class names only, no tag names or IDs.

* CSS classes are either blocks, elements or modifiers:

* Blocks have simple ASCII names like "site-search".

  Single dashes are allowed within the name of a block, element or modifier.

  You know something is a block if it's a standalone entity that is meaningful
  on its own. Blocks can still interact with each other and can be nested
  inside of each other, but are semantically equal with no precedence or
  hierarchy.

* Elements are sub-parts of blocks and are named like "block__element",
  for example "site-search__field".

  You know something is an element, rather than a block, if it's semantically
  tied to its block and has no semantic meaning of its own.

  Rather than a traditional CSS selector like:

      .block element { ... }

  instead you'd use:

      .block__element { ... }

* Modifiers are flags on block or elements, "<BLOCK>--<MODIFIER>" or
  "<BLOCK>__<ELEMENT>--<MODIFIER>", for example "site-search--full" or
  "person__hand--left".

  You only use modifiers on HTML tags that also have the corresponding block or element.
  For example `<div class="site-search site-search--full">` or
  `<div class="person__hand person__hand--left">`.

  There are three ways for CSS selectors to match a modifier:

  1. Match a block modifier:

         .block--modifier { ... }

  2. Match an element within a modified block - in the HTML the modifier class
     is added to the block tag but modifies its elements (child tags):

         .block--modifier block__element { ... }

  3. Match a modified element - in the HTML the modifier is added to the
     element's tag directly:

         .block__element--modifier { ... }

Complete example (from getbem.com):

    <style>
        .form { }
        .form--theme-xmas { }
        .form--simple { }
        .form__input { }
        .form__submit { }
        .form__submit--disabled { }
    </style>

    <form class="form form--theme-xmas form--simple">
      <input class="form__input" type="text" />
      <input class="form__submit form__submit--disabled" type="submit" />
    </form>
**/
:root {
  --body-background-color: white;
  --body-color: #24292e;
  --bold-color: black;
  --muted-color: #6a737d;

  /* Use Gruvbox light for inline code tags. */
  --code-background-color: #fbf1c7;
  --code-color: #3c3836;

  /* Use Gruvbox dark for code blocks. (Matches with gruvbox.css syntax highlighting theme.) */
  --pre-code-background-color: #282828;
  --pre-code-color: #ebdbb2;

  --navbar-font-weight: 600;
  --navbar-font-size: 14px;

  /* A system font stack based on ones used by GitHub, WordPress's admin
   * dashboard, Medium, Bootstrap and others.
   *
   * I've omitted the Ubuntu font because I don't like it. Cantarell should be
   * used on Ubuntu.
   *
   * The WordPress blog post recommends using only font weights 400 and 600
   * with these:
   * https://make.wordpress.org/core/2016/07/07/native-fonts-in-4-6/
   */
  --body-font-family: -apple-system, /* Safari and Firefox on macOS 10.11+ and iOS 9+ */
                      BlinkMacSystemFont, /* Chrome on macOS */
                      "Segoe UI", /* Windows 7+, all browsers */
                      Cantarell, /* GNOME */
                      Roboto, /* Android 4.0+ and Chrome OS */
                      "Droid Sans", /* Android < 4.0 */
                      "Helvetica Neue", /* macOS < 10.11 */
                      Helvetica, /* Fallback */
                      Arial, /* Fallback */
                      sans-serif, /* The standard fallback */
                      "Apple Color Emoji", /* Best emoji on macOS */
                      "Segoe UI Emoji", /* Best emoji on Windows */
                      "Segoe UI Symbol"; /* Best emoji on Windows */
  --body-font-size: 16px;
  --body-line-height: 28px;

  --bold-font-weight: 600;

  --code-font-family: SFMono-Regular, /* macOS (and iOS?) */
                      Consolas,
                      Menlo, /* Most macOS and iOS users */
                      Monaco, /* macOS before 2009 */
                      "Liberation Mono", /* Red Hat/Linux, similar to Courier New */
                      Courier,
                      monospace; /* The standard fallback */
  --code-font-size: 85%;

  --small-font-size: 13px;
  --small-line-height: 18px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  font-size: var(--body-font-size);
  text-size-adjust: none;
  font-family: var(--body-font-family);
  background-color: var(--body-background-color);
  color: var(--body-color);
  line-height: var(--body-line-height);
}

img, .content blockquote, .content p, .content li, .content ul, .content ol,
.content figure, .content__inner-container pre, .content__inner-container iframe, dd {
  margin-bottom: 26px;
}

dt {
  font-weight: var(--bold-font-weight);
}

blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: 0;
  text-decoration: none;
  border-bottom: 1px solid;
}
a.anchor {
  border-bottom: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.site-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--body-color);
  color: var(--muted-color);
}
.site-header__navbar {
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}
.site-header__nav-links {
  list-style: none;
}
.site-header__nav-item {
  display: inline-block;
  vertical-align: bottom;
}
.site-header__nav-item:first-child a {
  padding-left: 0;
}
.site-header__nav-item:last-child a {
  padding-right: 0;
}
.site-header__nav-link {
  color: hsla(0,0%,100%,.75);
  text-decoration: none;
  border: none;
  padding-right: 16px;
  line-height: 32px;
  transition: color 250ms linear;
  font-size: var(--navbar-font-size);
}
.site-header__nav-link--active {
  font-weight: var(--navbar-font-weight);
  color: white;
}

.content__title {
  text-align: center;
}

.content__outer-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.content__inner-container {
  max-width: 650px;
  margin: 0 auto;
}

.content h1 {
  font-size: 36px;
  line-height: 1.08;
  font-weight: 600;
  padding-top: 35px;
  margin-left: -2.63px;
  position: relative;
}
.content h1::before {
  display: block;
  content: "";
  width: 100px;
  height: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.content h2 {
  font-size: 26px;
  margin-left: -1.63px;
  line-height: 1.22;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 600;
}
.content h3, .content h4, .content h5, .content h6 {
  font-size: 21px;
  line-height: 1.22;
  font-weight: 400;
  margin-top: 25px;
  margin-left: -1.75px;
}

.content blockquote {
  font-style: italic;
  border-left: 3px solid #2b90d9;
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 2px;
}
.content blockquote p:last-child {
  margin-bottom: 0;
}
.content blockquote blockquote,
.content li blockquote {
  margin-left: 3px;
}

.content p, .content li {
  hyphens: auto;
}

.content__inner-container img {
  margin: 0 auto;
  height: auto;
  border-radius: 4px;
}
.content__inner-container img, .box-shadow {
  box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.35);
}

.content .image-large {
  margin-bottom: 50px;
}

.content .image-pull-left {
  float: left;
}

.content em {
  font-style: italic;
}

.content strong {
  font-weight: var(--bold-font-weight);
  color: var(--bold-color);
}

.content ul, .content ol {
  counter-reset: post;
}
.content ul li, .content ol li {
  margin-left: 30px;
  margin-bottom: 14px;
}

.content figure figcaption {
  margin-top: 8px;
  text-align: center;
}
.content figure img {
  margin-bottom: 0;
}
.content figure figcaption, .content figure figcaption p {
    color: var(--muted-color);
}

.content hr {
  background: transparent;
  border: 0;
  border-top: 1px solid var(--muted-color);
  margin: 26px 0;
}

code {
  background-color: var(--code-background-color);
  color: var(--code-color);
  padding: 0.2em 0.4em;
  margin: 0;
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  border-radius: 3px;
  white-space: nowrap;
}
a code {
  background-color: inherit;
  color: inherit;
  padding: 0;
}
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: var(--body-background-color);
  color: var(--body-color);
}
pre {
  line-height: 1.25;
  padding: 16px;
  overflow: auto;
}
.content__inner-container pre {
  border-radius: 4px;
}
pre, pre code {
  color: var(--pre-code-color);
  background-color: var(--pre-code-background-color);
}
.content pre code strong {
  color: white;
}
pre code {
  padding: 0;
  white-space: pre;
}

/** Fix code blocks created with Jekyll's {% highlight %} tag.
 *  It outputs <figure class="highlight"><pre><code><table><tbody><tr><td><pre>.
 *  See https://github.com/jekyll/jekyll/issues/6448 */
figure.highlight > pre {
  padding: 0;
}
figure.highlight pre {
  margin: 0;
}

.content__header {
  padding: 50px 0;
}
.content__header .image-large {
  margin-top: 50px;
  margin-bottom: 0;
}
.sig, .sig a {
  color: var(--muted-color) !important;
  text-decoration: none;
}

.post-footer {
  color: var(--muted-color);
  padding-bottom: 30px;
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
  margin-top: 90px;
}
.post-footer__link {
  color: var(--muted-color);
  border-bottom: none;
  text-decoration: none;
}

.anchor {
  font-size: 1em;
  font-weight: normal;
  margin-left: -1em;
  opacity: 0;
  padding-right: .5em;
  position: absolute;
  text-decoration: none;
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  opacity: 1;
  text-decoration: none;
}
h4:before {
  content: '››››';
}
h5:before {
  content: '›››››';
}
h6:before {
  content: '››››››';
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: smaller;
  padding-left: .1em;
  font-weight: bold;
}
sub {
  top: 0.4em;
}
sup a.footnote {
  border-bottom: none;
}

#markdown-toc li,
#markdown-toc li ul,
#markdown-toc li ol {
  margin-bottom: 0;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  padding: 3px 5px;
  vertical-align: middle;
  line-height: 1rem;
  display: inline-block;
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
}

samp {
  background-color: #fafbfc;
  color: #444d56;
  line-height: 1rem;
  font-family: var(--code-font-family);
}

var {
  font-style: italic;
}
