<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/seanh.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/gruvbox.css" | relative_url }}">
  </head>
  <body>
    <header class="site-header">
      <nav class="site-header__navbar">
        <ul class="site-header__nav-links">
          {% for item in site.data.header_links %}
            <li class="site-header__nav-item">
              {% if item.url == page.url %}
                <a class="site-header__nav-link site-header__nav-link--active">{{ item.title }}</a>
              {% else %}
                <a class="site-header__nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </li>
         {% endfor %}
          <li class="site-header__nav-item"><a class="site-header__nav-link" href="{{ site.github.repository_url }}/edit/master/{{ page.path }}" title="Edit this page on GitHub" name="Edit this page on GitHub" target="_blank">Edit</a></li>
        </ul>
      </nav>
    </header>
    {% include anchor_headings.html html=content anchorBody="§" beforeHeading=true anchorClass="anchor" %}

    <div class="new-post">
      <label for="new-post">Start a new post:</label>
      <input id="new-post" class="js-new-post" type="text" spellcheck="true" placeholder="My New Post Title" onchange="doNewPost()">
    </div>
    <script>
      function doNewPost() {
        const inputEl = document.querySelector('.js-new-post');
        const today = new Date();
        const year = today.getFullYear();
        const month = ('0' + (today.getMonth() + 1)).slice(-2);
        const day = ('0' + today.getDate()).slice(-2);
        const date = year + '-' + month + '-' + day;
        const title = inputEl.value;
        const filename = '_posts/' + date + '-' + title.replace(/ /g, '-').toLowerCase() + '.md';
        const message = 'Add%20%22' + title + '%22';
        const underline = '%3D'.repeat(title.length);
        window.open('{{ site.github.repository_url }}/new/master/?filename=' + filename + '&value=---%0Adraft%3A%20true%0A---%0A%0A' + title + '%0A' + underline + '%0A%0A&message=' + message);
      }
    </script>
  </body>
</html>
