<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/seanh.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/gruvbox.css" | relative_url }}">
  </head>
  <body>
    <header class="site-header">
      <nav class="site-header__navbar">
        <ul>
          {% for item in site.data.header_links %}
            <li {% if item.url == page.url %}class="active"{% endif %}>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
         {% endfor %}
        </ul>
      </nav>
    </header>
    {{ content }}
  </body>
</html>
